@model InterestApp.Models.InterestMaster

@{
    ViewBag.Title = "明细";
}

<h2>Details</h2>

<div>
    <h4>InterestMaster</h4>
	<hr />
    <dl class="dl-horizontal">
        @Html.Partial("_View");

    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("返回列表", "Index")
</p>
