@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="微信">P:</abbr>
    <img src="@Url.Content("~/Content/img/WeChatImage635293919375486362.jpg")" />
</address>

<address>
    <strong>支持:</strong>   <a href="mailto:Support@example.com">sra@live.cn</a><br />
</address>